.home-page{
  height: 798px;
  width:498px;
  
}

.background-image{
  background-image: url(images/240_F_578135934_ktRCLfrOGhBVLdHX0Q1lzo8za7IRJKmf.jpg);
  background-size: cover;
  background-repeat: none;
  height:800px;
  width: 500px;
  margin-left: 450px;
  border-radius: 20px;

}

.instagram-logo-image img{
  height: 100px;
  width: 100px;
  margin-top: 20px;
  margin-left: 195px;
}

.profile-picture img{
  border: 3px solid gray;
  height: 200px;
  width: 200px;
  margin-top: 20px;
  margin-left: 140px;
  border-radius: 100px;

}

.username{

  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color:white;
  margin-left: 165px;
}

.login-button button{
  margin-left: 80px;
  padding: 10px 150px;
  border-radius: 30px;
  border: 1px solid blue;
  background-color: blue;
  color: white;
  cursor: pointer;

  
}

.new-login-button button{
  margin-top: 10px;
  margin-left: 80px;
  padding: 10px 100px;
  border-radius: 30px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

.new-account-button button{

  margin-top: 70px;
  margin-left: 80px;
  padding: 10px 115px;
  border-radius: 30px;
  border: 1px solid blue;
  background-color: transparent;
  color: blue;
  cursor: pointer;

}

.meta-logo-image img {
  height: 25px;
  width: 70px;
  margin-top: 30px;
  margin-left: 220px;
}

.instagram-name-logo-container{
  padding-top: 20px;
  
}

.instagram-name-logo{
  height: 80px;
  width: 300px;
  margin-left: 100px;
}